<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>haader.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>140</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B99E0B9F93CCF79337E1887031394670C82AF4CD</string>
				<key>dateExpires</key>
				<string>28/02/2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>140</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99E0B9F93CCF79337E1887031394670C82AF4CD</string>
						<key>dateExpires</key>
						<string>28/02/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J23B4X72V7</string>
						<key>name</key>
						<string>HAADER</string>
					</dict>
					<key>versionNumber</key>
					<string>0.140</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J23B4X72V7.com.travelyalla.haader</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>J23B4X72V7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>haader.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>271cd85f-447d-4984-9323-a8ae51d470f1</string>
				<key>dateExpires</key>
				<string>28/02/2023</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.travelyalla.haader</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J23B4X72V7</string>
				<key>name</key>
				<string>HAADER</string>
			</dict>
			<key>versionNumber</key>
			<string>0.140</string>
		</dict>
	</array>
</dict>
</plist>
